  /* adding css for flex box*/
  
  html {
    background: grey;
  }
 
  #title {
      color: white;
      text-align: center;
  }


  /*
  .dashChart {
    width: 45%;
     height: 300px;
     display: inline-block;
  }
