
  /* adding css for flex box*/
  
  html {
    box-sizing: border-box;
    /*background: #ffc600;*/
    
    background-image: url("nyc.gif");
    
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    
  }

  .main-head {
    grid-area: header;
    padding: 40px;
    text-align: left;
    background:black;
    color: white;
    font-size: 50px;
  }

  /*
  img {
    width:100px;
    height: 100px;
}


.login {
    position: relative;
    text-align: right;
    margin-right: 36px;
    margin-bottom: -10px;
}
*/
  /*stretch header*/

  
  .spacer {
    grid-area: spacer;
    height: 100%;
    padding: 20px;
    color: seashell;
}

.main-footer {
    grid-area: footer;
    height: 100%;
    padding: 20px;
    color: seashell;
}

  .wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
      "header"
      "spacer"
      "listing"
      "footer";
  }


  * {box-sizing: border-box;}
  img {max-width: 100%; display: block;}
  body {
      font: 1.2em Helvetica, arial, sans-serif;
  }
  a:link, a:visited {
    text-decoration: none;
    color:black;
  }
  
  h2 {
    background-color:black;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
.listing {
grid-area: listing; /*define grid as listing for later*/
width: 95%;
overflow: hidden;
list-style: none;
margin: 2em;
display: grid;
grid-gap: 40px;
grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
}
.listing li {
border: 1px solid #ffe066;
border-radius: 5px;
display: flex;
flex-direction: column;
background: seashell;
height: 100%;
}
.listing .cta {
margin-top: auto;
border-top: 1px solid #ffe066;
padding: 10px;
text-align: center;
}
.listing .body {
padding: 10px;
}

@media (min-width: 500px) {
    .wrapper {
      grid-template-columns: 1fr 3fr;
      grid-template-areas: 
        "header  header header"
        "spacer spacer spacer"
        "listing listing listing"
        "footer footer  footer";
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
  }



  /* later changes ad-hoc*/
 

